html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#map {
  height: 100%;
}

.star-rating {
  line-height: 32px;
  font-size: 2em;
}

.star-rating .fa-star {
  color: #dab979;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}